body {
  background-color: black;
  color: black;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}
.fixed {
    text-align:right;
    position:sticky;
    top:0px;
    left:0px;
    background-color:black;
    color:white;
    width:100%;
    height:50px;
    z-index:1;
}
.nav {
    margin-top:10px;
}

h1 {
  color: white;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.hello {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: solid black;
  border-bottom: none;
  width: 50%;
  margin: 100px auto;
}

.first-hr {
    width:50%;
    margin:10px auto;
}

a{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: black;
  position:relative;
  padding: 500px 130px 130px 130px;
  margin-bottom:40px;
}

.middle-container {
  background-color: white;
  margin:0px;
  padding:50px;
}

.bottom-container {
  background-color: black;
  padding: 60px 0 0px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 0px 0px 50px 0px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-cloud {
  position: absolute;
  left: 40%;
  top: 10%;
  width:20%
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.code-img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile-icon{
    width:10%;
}

.icons{
    width:2%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, black, black);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
